<ly-card class="cherry-login-container">
  <form class="cherry-login-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ly-field appearance="filled" fullWidth>
      <label>
        <input lyNativeControl type="text" placeholder="请输入用户名" formControlName="username"/>
      </label>
      <ly-hint>Hint</ly-hint>
      <!--    <ly-error *ngIf="username.hasError('minlength')">Min 5 characters</ly-error>-->
      <!--    <ly-error *ngIf="username.hasError('maxlength')">Max 16 characters</ly-error>-->
      <!--    <ly-error *ngIf="username.hasError('required')">Required</ly-error>-->
      <!--    <ly-hint [align]="'after'">{{ username.value
    ?.
    length || 0 }}/32</ly-hint>-->
    </ly-field>
    <br/>
    <ly-field appearance="filled" fullWidth>
      <label>
        <input lyNativeControl
               placeholder="请输入密码"
               [type]="hide ? 'password' : 'text'"
               [formControl]="password"
               [readonly]="isReadonly.value"/>
      </label>
      <button ly-button
              appearance="icon"
              lySuffix
              (click)="hide = !hide"
              [disabled]="isDisabled.value"
      >
        <ly-icon>{{ hide ? 'visibility' : 'visibility_off' }}</ly-icon>
      </button>
      <ly-hint>Hint</ly-hint>
    </ly-field>

    <div class="cherry-login-button">
      <button ly-button [mf]="1" bg="primary" size="large" raised type="submit">登录</button>
    </div>

  </form>
</ly-card>
